@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Oswald/Oswald-Regular.ttf);
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Oswald/Oswald-Medium.ttf);
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  //src: url(../fonts/iconfont/old/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
    //url(../fonts/iconfont/old/MaterialIcons-Regular.woff2) format('woff2'),
    //url(../fonts/iconfont/old/MaterialIcons-Regular.woff) format('woff'),
  url(../fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

html, body, #root {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow-y: hidden;
}

body {
  font-family: $font-stack;
  font-size: 17px;
  font-weight: 700;
  background: $bg-color url(../img/bg-gray-light.png);
}

// Material Icons
.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Custom spaces
.p-3-3 {
  padding: ($spacer * 2) !important;
}

.m-3-3 {
  padding: ($spacer * 2) !important;
}

// Display Flex and All Items Center
.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-inline-flex-center {
  @extend .d-flex-center;
  display: inline-flex;
}

// Clean Button Without Background and Appearance
.btn-clean {
  @extend .d-flex-center;
  background: transparent;
  padding: 0;
  appearance: none;
  border: 1px solid transparent;
}

.border-none {
  border: none !important;
}

.text-black-75 {
  color: rgba(0, 0, 0, .64);
}

.font-size-12 {
  font-size: .75rem;
}
