.modal-buying-station-notification {
  .add-sales-rep {
    cursor: pointer;
    color: $primary;
    &:hover {
      color: $blue-color
    }
  }
}

.buying-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .buying-grid-main {
    display: flex;
    flex-direction: column;
  }

  .buying-grid-summary {
    width: 100%;
    height: 166px;
    overflow: auto;
  }
}

.table {
  &.table-content{
    position: absolute;
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 413px;
  }
  &.table-worksheet {
    tr {
      td {
        padding-left:10px;
        padding-right:10px;
        span {
          display:inline-block;
          span {
            width:70px;
          }
        }
        &.td-active {
          span {
            display: flex;
            justify-content: center;
            input {
              text-align: center;
              //width:70px;
            }
          }
        }
      }
    }
  }

  &.buying-worksheet{
    tr{
      td{
        input {
          width:100%;
          text-align: center;
        }
        &.td-narrow {
          padding-left:3px;
          padding-right:3px;
        }
        &.bg-silver {
          background-color: $gray-color;
        }
        &.bg-selecting-processing {
          opacity:0.5;
        }
        .react-datepicker-wrapper {
          width:100%;
        }

        %call-dropdown {
          color: #000;
          background-color: transparent;
          border-color: transparent;
          box-shadow: none !important;
          outline: none !important;
        }

        .cell-dropdown-toggle {
          @extend %call-dropdown;

          &:active {
            @extend %call-dropdown;
          }
        }
      }
    }
  }
}

.disabled-input {
  background-color: #ddd;
  cursor: not-allowed;
}

.note-modal {
  width: 480px;
  &.modal-dialog .modal-body {
    padding: 32px;
    .note-description {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: 0;
      color: #212529;
      margin-bottom: 28px;

      span:not(:last-child) {
        margin-right: 16px;
      }
    }
    & label {
      font-size: 12px;
      line-height: 18px;
      color: #989A9B;
    }
    & textarea {
        width: 100%;
        padding: 4px;
        resize: none;
        border: 1px solid #CED4DA;
        border-radius: 4px;
        outline: none;
        overflow-y: scroll;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
    }
  }
  &.modal-dialog .modal-footer {
    .btn {
      margin: 0;
      width: 86px;
    }
    .btn:not(:last-child) {
      margin-right: 16px;
    }
    .btn:last-child {
      margin-right: 20px;
    }    
  }
}

.add-seller-modal {  
  .accordion .btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    .material-icons {
      font-size: 18px;
    }
  }
  .modal-dialog {
    .modal-header {
      padding: 0.75rem 1rem;
      color: #212529;
      font-family: Arial;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 24px;
    }
    .modal-body {
      padding: 1rem 1rem 1rem;
    }
    .modal-footer {
      padding: 0.75rem 1rem;
    }
  }
}

.react-draggable {
  &.media-summary-body,
  &.daypart-summary-body {
    position: absolute;
    z-index: 5;
    left: 10%;
    bottom: 10%;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.68);

    .summary_header {
      display: flex;
      justify-content: space-between;
      height: 40px;
      cursor: -webkit-grab;
      cursor: grab;

      .summary_header-select-group {
        display: flex;
        align-items: center;
        span {
          margin-left: 12px;
          margin-right: 80px;
          color: #212529;
          font-family: Arial;
          font-size: 13px;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 16px;
        }
      }
      .header-btn {
        padding: 0;
        border: none;
        &:last-child{
          margin-right: 12px;
        }
        background-color: transparent;
        .material-icons {
          color: rgba(0, 0, 0, 0.64);
          font-size: 16px;
        }
      }
    }

    .table {
      tr {
        &:last-child {
          td:first-child {
            border-radius: 0 0 0 4px;
          }
          td:last-child {
            border-radius: 0 0 4px 0;
          }
        }
      }

      thead {
        tr {
          th {
            height: 40px;
          }
        }
      }
    }
  }
  
  .summary-dropdown {
    .dropdown-menu.summary-column-filter-menu {
        height: 210px;
        overflow-y: scroll;
    }
    .summary-dropdown-toggle {
      padding: 10px 0;
      font-size: 13px;
      &.column-filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-left: 0;
        padding-right: 4px;
        font-size: 12px;
        text-align: left;
      }
    }
  }
}
