.individual-card {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 0;
  font-size: 0.813rem;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24px;
  border: 0;
  overflow: visible;
  &:not(.head) {        
    background-color: #fff;
    border-radius: 4px;  
  }

  &:not(.head):not(.card-header) {
    margin-bottom: 0.5rem;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.24);
    &:hover {          
      box-shadow: 0 4px 16px 0 rgba(0,0,0,0.32);
    }
  }

  [class^="item-"], [class*=" item-"] {
    flex-grow: 1;
    padding: 0.5rem 0.75rem;
    // overflow: hidden;
  }
  
  .item {
    &-priority {
      flex: 0 0 31px;
      padding-right: 0;          
    }
    &-advertiser {
      flex: 0 0 100px;
    }  
    &-media {
      flex: 0 0 58px;
    }  
    &-id {
      flex: 0 0 90px;
    }
    &-date,
    &-orders {
      flex: 0 0 81px;
    }
    &-note {
      position: relative;
      &::after{
        position: absolute;
        bottom: 0;
        left: 12px;
        right: 12px;
        content: '';
        height: 1px;
        background-color: #ccc;
      }
    }
    &-status {
      flex: 0 0 20%;
    }
    &-budget {
      flex: 0 0 20%;
    }
    &-outlet {
      flex: 0 0 30%;
    }
    &-contact {
      flex: 0 0 30%;
    }
    &-adver-market {
      flex: 0 0 33%;
    }
    &-media-outlet {
      flex: 0 0 33%;
    }
    &-contact-form {
      flex: 0 0 33%;
      a {
        display: block;
      }
    }

    &-order {
      flex: 0 0 74px;
    }
    &-amount {
      flex: 0 0 96px;
    }
    // &-delivery {
      // flex: 0 0 200px;
    // }
    &-order-sent {
      flex: 0 0 131px;
    }
    &-create-email {
      flex: 0 0 120px;
    }
    &-revision {
      flex: 0 0 73px;
    }
    &-media-outlet-affiliate {      
      display: flex;
      align-items: center;
      flex: 0 0 155px;
      max-width: 155px;
    }
  }

  &.head {
    position: relative;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 16px;
    color: rgba($black-color, 0.64);
    white-space: nowrap;
    overflow: visible;
    z-index: 1;
  }

  &.multi-row {
    flex-direction: column;
    align-items: stretch;
  }

  .btn-link {
    min-width: auto;
    max-width: 100%;
    padding: 0;
    border: 0;
    font-size: 0.813rem;
    line-height: 24px;
    text-align: left;
    text-transform: inherit;
    &:focus {
      text-decoration: none;
      box-shadow: none;
    }
  }

  .text-right {
    .btn-link {
        text-align: right;
    }
  }  
}

.priority,
.status {
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  text-align: center;
  line-height: 20px;
  color: #fff;
  border-radius: 50%;
  &.high {
    background-color: #dc3545;
  }
  &.middle {
    background-color: #ffbe00;
  }
  &.low {
    background-color: #20a800;
  }

  &.rejected, &.no_response {
    background-color: #dc3545;
  }
  &.sent {
    background-color: #ffbe00;
  }
  &.pending {
    background-color: #FB8319;
  }
  &.confirmed, &.received {
    background-color: #20a800;
  }

  &:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.head {
  & > div {
    flex-grow: 1;
    padding: 0.5rem 0.75rem;
  }
}

.accordion {
  border-radius: 4px;  

  .btn-link {
    min-width: auto;
    max-width: 100%;
    padding: 0;
    border: 0;
    font-size: 0.813rem;
    line-height: 24px;
    text-align: left;
    text-transform: inherit;
    &:focus {
      text-decoration: none;
      box-shadow: none;
    }
  }

  & > .card {
    border-radius: 4px;    
    overflow: visible;
    & > .card-header {
      margin-bottom: 0;
      border-radius: 4px;
    }
    &:not(:first-of-type) {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;  
    }
    &:not(:last-child) {
      margin-bottom: 0.5rem;
      border-bottom-right-radius: 4px; 
      border-bottom-left-radius: 4px; 
    }
  }
}

.card-body {
  padding: 0 0.75rem;
}

.body-item,
.order-info {  
  padding: 6px 0;
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 24px;
  border-top: 1px solid #ccc;
}

.body-item {
  display: flex;
  justify-content: space-between;
}

.order-info {
  position: relative;
  p {
    margin-bottom: 0;
    line-height: 24px;
    .btn-link {
      vertical-align: baseline;
    }
  }
  .font-weight-bold {
    font-size: 0.75rem;
  }
  .btn-primary {
    min-width: 107px;
  }
  .edit-order-info {
    position: absolute;
    top: 5px;
    right: -8px;
    min-width: auto;
    color: $primary;
    &.checkbox {
      color: rgb(0, 0, 0) !important;
      right: 2px;
    }
    .material-icons {
      font-size: 1.125rem;
    }
    &:not(:disabled):not(.disabled):hover {
      color: $primary;
    }
  }
}

.modal-order {
  .individual-card {
    .priority {
      width: 8px;
      height: 8px;
    }
  
    &.has-error {
      background-color: rgba($danger, 0.12);
    }

    .item {
      &-priority {
        flex: 0 0 20px;
        padding-right: 0;          
      }
    }
    
    .filter-dropdown {
      width: auto;
    }

    &.head {
      .filter-dropdown {
        margin-right: -10px;
      }
    }
  }

  .order-totals {
    font-size: 0.813rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;

    &_amount{
      display: inline-block;
      margin: 0 0 0 13px;
      width: 130px;
    }

    &_units {
      display: inline-block;
      width: 109px;
      margin-right: 24px;
      text-align: right;
    }

    &_grp {
      margin: 0;
      display: inline-block;
    }
  }  
}

