@import "variables";

.sidebar {
  margin-left: -176px;
  transition: margin-left 300ms ease-in;
}

.sidebar-is-open {
  margin-left: 0px;
  transition: margin-left 300ms ease-in;
}

.login {
  width: 400px;
  margin: auto;
  margin-top: 150px;  
  padding: 50px 40px;
  background-color: $white-color;
  border-radius: $border-radius;
  box-shadow: 0 0 20px rgba(0,0,0,.3);

  .title {
    text-transform: uppercase;
    text-align: center;
    font: {
      size: 24px;
      weight: 700;
    }
  }

  p {
    font-weight: 400;
  }
}

.section-left-content {
  overflow: inherit;

  .list-item-title {
    padding-right: 50px;
    white-space: normal;
  }
}

.section-left {
  max-height: 930px;
}


.campaigns-menu {
   &.dropdown-toggle {
     &:after {
       display:none;
     }
   }
 }


.qty-in-avatar-info {
  position: absolute;
  right: 77px;
}

.qty-bg-circle{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}