.react-datepicker {
  border-color: $border-color;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.24);

  &-popper[data-placement^="bottom"] {
    margin-top: 0;    
  }

  &__triangle {
    display: none;
  }
  
  &__header {
    padding-top: 1rem;
    background-color: $white-color;
    border-bottom: 0;
  }

  &__month {
    margin: 0 1rem 1rem;
  }

  &__day-name, 
  &__day, 
  &__time-name {
    margin: 0;
    font-weight: 400;
    border-radius: 0;
  }

  &__day-name {
    font-size: 12px;
    font-weight: 700;
    opacity: .64;
  }

  &__day--outside-month {
    color: rgba(0,0,0,0.4);
  }

  &__day--keyboard-selected, 
  &__month-text--keyboard-selected, 
  &__quarter-text--keyboard-selected, 
  &__year-text--keyboard-selected,
  &__day--selecting-range-start {
    background-color: inherit;
    color: inherit;
  }

  &__day--selected, 
  &__day--in-selecting-range, 
  &__day--in-range, 
  &__month-text--selected, 
  &__month-text--in-selecting-range, 
  &__month-text--in-range, 
  &__quarter-text--selected, 
  &__quarter-text--in-selecting-range, 
  &__quarter-text--in-range, 
  &__year-text--selected, 
  &__year-text--in-selecting-range, 
  &__year-text--in-range {
    background-color: rgba($body-color,0.06);
    color: inherit;
    border-radius: 0;
  }

  &__day, 
  &__month-text, 
  &__quarter-text, 
  &__year-text {
    &:hover {
      background-color: rgba($body-color,0.06);
      border-radius: 0;
    }
  }

  &__day--in-range {
    &:hover {
      background-color: rgba($body-color,0.12);
    }
  }

  &__day--range-start,
  &__day--range-end,
  .range-start,
  .range-end {
    background-color: $primary;
    color: $white-color;
    font-weight: 700;
    &:hover {
      background-color: $primary-hover;
    }
  }

  &__day--today {  
    color: $primary;
    &:not(.react-datepicker__day--in-range)
    &:not(.react-datepicker__day--in-range):hover {
      background-color: inherit;
    }
  }

  &__current-month {
    margin-bottom: 0.75rem;
    font-size: 0.875rem;
  }

  &__navigation {
    top: 14px;
    width: 24px;
    height: 24px;
    border: 0;
    text-indent: 0;
    font-family: 'Material Icons', sans-serif;
    color: transparent;

    &::after {
      position: absolute;
      // left: 2px;
      top: 0;
      font-size: 18px;
      line-height: 24px;
      color: $icon-color;
    }

    &:hover {
      &::after {
        color: $icon-color-hover;
      }
    }
    
    &--previous {
      left: 1rem;
      &::after {
        left: 2px;
        content: "chevron_left";
      }
    }

    &--next {
      right: 1rem;
      &::after {
        right: 2px;
        content: "chevron_right";
      }
    }
  }
}
