.form-group {
  font-weight: 400;

  & > label {
    margin-bottom: 6px;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1rem;
    text-transform: capitalize;
    color: rgba($body-color, 0.64);
  }

  .select-custom {
    .select {
      &__control {
        min-height: 32px;
        border-color: $input-border-color;

        &--is-disabled {
          .select__dropdown-indicator {
            svg {
              path {
                fill: rgba($black-color, .4);
              }
            }
          }
        }
      }

      &__value-container {
        padding: 0 0.5rem;
        font-size: 13px;
        font-weight: 400;

        & > div {
          margin: 0;
        }
      }

      &__indicator-separator {
        display: none;
        margin: 0;
      }

      &__indicators {
        background-color: transparent;
        border-radius: 0 $border-radius $border-radius 0;
      }

      &__indicator {
        width: 32px;
        height: 100%;
        padding: .25rem .5rem;
        justify-content: center;
        align-items: center;
      }

      &__dropdown-indicator {
        margin-top: -1px;
        svg {
          path {
            d: path('M7 10 12 15 17 10H7Z');
            fill: rgba($black-color, .64);
          }
        }
      }

      &__placeholder {
        margin: 0;
        font-weight: 400;
        color: $input-placeholder-color;
      }

      &__value-container--is-multi {        
        &.select__value-container--has-value {
          padding: 0;
          div.select__multi-value {
            padding: 0 2px;
            margin: 1px !important;
            background-color: #eff1f4;
          }
        }
      }

      &__menu {
        z-index: 200;
      }

      &__option {
        position: relative;
        padding: 2px 20px;
        font-size: 13px;
        line-height: 24px;

        &--is-selected {
          color: inherit;
          background-color: inherit;

          &::after {
            position: absolute;
            top: 9px;
            left: 6px;
            content: "";
            width: 8px;
            height: 6px;
            border: 0;
            border-left: 2px solid;
            border-bottom: 2px solid;
            transform: rotate(-45deg);
          }
        }

        &--is-focused {
          background-color: $dropdown-item-hover;
        }
      }

      &__multi-value {
        background-color: #ebebeb;
        font-family: Arial, Helvetica, sans-serif;

        &:hover {
          background-color: #f5f5f5;
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.16);
        }

        &__label {
          padding: 2px 6px;
          font-size: 13px;
          font-weight: 400;
        }
      }

      &__multi-value__remove {
        padding-right: 2px;
        opacity: 0.64;

        &:hover {
          opacity: 1;
          background-color: transparent;
        }
      }
    }

    &.sm {
      .select {
        &__multi-value {  
          &__label {
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
    }

    &.lg {
      & + .invalid-feedback {
        font-size: 13px;
      }
    }

    &.is-invalid {
      .select {
        &__control {
          border-color: $danger;
        }
      }
    }
  }

  .react-datepicker-popper {
    z-index: 5;
  }
}

.select-custom_width {
  .select__menu {
    width: max-content;
  }
}

.form-control {
  height: 32px;
  padding: 0 0.5rem;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;

  &:disabled, &[readonly] {
    color: rgba($body-color, 0.4);
    background-color: rgba($black-color,0.08);
  }

  &:disabled,
  &[readonly] {
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba($body-color, 0.4);
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: rgba($body-color, 0.4);
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: rgba($body-color, 0.4);
    }
  }

  &.is-invalid {
    background: none;
    background-color: $white-color;

    &:focus {
      box-shadow: 0 0 0 1px $danger;
    }
  }

  &-sm {
    height: 1.5rem;
    padding: 0.25rem 0.5rem;
  }
}

.custom-control {
  padding-left: 2rem;
  margin-bottom: 3px;

  &-label {
    &:before,
    &:after {
      top: 3px;
      left: -2rem;
      width: 20px;
      height: 20px;
    }
  }

  &-input {
    &:checked {
      & ~ .custom-control-label:before {
        border-color: $accent-border-color;
        border-width: 1px;
      }
    }
  }

  &.custom-radio {
    padding-left: 1.5rem;
    margin: 0;
    min-height: 2rem;
    align-items: center;

    .custom-control-label {
      &:before,
      &:after {
        left: -1.5rem;
        width: 1rem;
        height: 1rem;
      }

      &:after {
        width: 0.5rem;
        height: 0.5rem;
        margin: 4px;
        border-radius: 50%;
      }
    }

    &-input {
      width: 1rem;
      height: 1.25rem;
    }

    .custom-control-input:checked ~ .custom-control-label:after {
      background-image: none;
      background-color: $primary;
    }
  }

  &.custom-checkbox {
    margin-bottom: 0;
    padding-left: 20px;

    .custom-control-input {
      width: 1rem;
      height: 1.25rem;
      z-index: 1;

      & ~ .custom-control-label {
        &::before,
        &::after {
          top: 5px;
          left: -20px;
          width: 13px;
          height: 13px;
        }

        &::before {
          border-radius: 2px;
        }
      }

      &:checked ~ .custom-control-label {
        &::before {
          border-width: 1px;
          background-color: $primary;
          border-color: $primary;
        }

        &::after {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
          background-size: auto;
        }
      }

      &:indeterminate ~ .custom-control-label,
      &.indeterminate ~ .custom-control-label {
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath d='M0 0v2h8v-2h-8z' transform='translate(0 3)' /%3E%3C/svg%3E");
        }
      }
    }
  }

  &.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after,
  &.custom-checkbox .custom-control-input.indeterminate ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e");
  }
}

.form-alert {
  // background-color: #9a1117;
  // color: #FFFFFF;
  // padding: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
}

.text-right {
  .form-control {
    text-align: right;
  }
}

.input-group {
  &-text {
    padding: 0 10px;
    background: $input-bg;
    color: #989a9b;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &::after {
      position: absolute;
      content: "";
      width: 3px;
      top: 1px;
      right: -1px;
      bottom: 1px;
      background-color: $input-bg;
    }
  }

  &-prepend,
  &-append {
    position: relative;
    z-index: 4;
  }

  &-prepend {
    .input-group-text {
      border-right: 0;

      &::after {
        right: -1px;
      }
    }
  }

  &-append {
    .input-group-text {
      border-left: 0;

      &::after {
        left: -1px;
      }
    }
  }

  &:focus-within {
    // border-color: $input-focus-border-color;
    border-radius: 4px;

    &:not(.is-invalid) {
      .input-group-text {
        border-color: $input-focus-border-color;
        box-shadow: 0 0 0 1px $input-focus-border-color;
      }
    }

    &.is-invalid {
      .input-group-text {
        border-color: $danger;
        box-shadow: 0 0 0 1px $danger;
      }
    }
  }

  & > .form-control:not(:first-child) {
    border-left: 0;
  }

  &:not(.has-validation) > .form-control:not(:last-child) {
    border-right: 0;
  }

  &.is-invalid {
    .input-group-text {
      border-color: $danger;
    }
  }

  &.disabled {
    .input-group-text {
      background-color: $input-disabled-bg;

      &::after {
        background-color: $input-disabled-bg;
      }
    }
  }
}

// Hide Arrows From Input Number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.send-order_textarea {
  height: auto !important;
  overflow: hidden;
}

.item-estimateID {
  .input-group {
    padding-right: 6px;
  }

  .input-group > .form-control {
    border: none;
  }

  .input-group:not(.has-validation) > .form-control:not(:last-child) {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }

  .input-group {
    border: 1px solid #ccc;
    border-radius: 0.2rem;

    .form-control {
      height: 22px;
      padding-right: 0;
    }

    .form-control:focus {
      outline: none;
      box-shadow: none;
    }

    .input-symbol {
      height: 22px;
      font-size: 13px;
      font-weight: 400;
    }
  }
}

.mandatory {
  @extend .text-danger;
}
