// Table Cells
.table-cell {
  display: inline-block;
  border: none !important;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  max-height: 100%;
  height: 100%;
  padding: 0 6px;
  overflow: hidden;
  white-space: nowrap;
  cursor: cell;
  appearance: none;

  &.program-name, &.time-period-cell {
    border: 2px solid transparent !important;
    padding: 0 4px;
  }

  &:active, &:focus, &:focus-visible, &:focus-within {
    outline: none;
  }

  &.selected {
    border: none;
    border-radius: 0;
    outline: 0;
  }

  &.disabled {
    color: #000;
    cursor: not-allowed;

    &:focus {
      box-shadow: none;
    }
  }

  &.updating {
    cursor: not-allowed;
    pointer-events: none;
    color: #888;
    filter: blur(1.5px);
  }

  &[data-type='number'] {
    justify-content: flex-end;
    color: #337AFE;
  }

  &[data-disabled='true'] {
    color: rgb(183, 183, 183);
    cursor: not-allowed;

    // Removed Disabled Cell Warning Box Shadow
    //&:focus {
    //  background: rgba(255,96,56,.075);
    //  box-shadow: inset 0 0 0 .125rem #ff6038;
    //}
    //box-shadow: unset;
  }

  &.dropdown-cell {
    cursor: pointer;
  }

  &.selected {
    //position: relative;
    color: #333 !important;

    &.program-name, &.time-period-cell {
      border: 2px solid #337AFE !important;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(51, 122, 254, .15);
      border: 2px solid #337AFE !important;
      border-radius: 0;
      outline: 0;
      //box-shadow: 0 0 0 .125rem #337AFE;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
  }

  &.unit {
    justify-content: flex-end;
    max-width: 100%;
    color: #337AFE;

    &.undefined {
      color: rgb(183, 183, 183);
    }
  }

  &.rate, &.rating {
    color: #337AFE;
    justify-content: flex-end;
  }
}

//.table-cell-input-spinner {
//  position: absolute;
//  left: .25rem;
//  top: .25rem;
//  width: .5rem;
//  height: .5rem;
//  font-size: 6px;
//}

.table-cell-input {
  padding: 4px 8px 2px 0;
  background: transparent;
  border: none !important;
  cursor: pointer;
  text-align: end;
  line-height: 20px;
  height: 100%;
  margin: 0;
  z-index: 1;
  max-width: 100%;
  width: 100%;
  transition: filter 250ms ease-in-out;

  &.substring {
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    color: #337AFE;

    &.program {
      color: #333;
    }
  }

  &:focus {
    cursor: text;
    background: rgba(255, 255, 255, .55);
    color: #444;
    outline: 0;
    box-shadow: inset 0 0 0 .125rem #337AFE;
    z-index: 1;
  }

  &.updating {
    cursor: not-allowed;
    pointer-events: none;
    color: #888;
    filter: blur(1px);
  }

  &.program {
    padding-left: 7px;
    padding-right: 10px;
    text-align: start;
  }

  &.unit {
    font-size: inherit;
  }
}
