.table-wrap {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: auto;
  scroll-behavior: smooth;
}

.estimate-table {
  &.table {
    margin-bottom: 0;

    &-bordered {
      border: 0;
    }

    &-bordered th,
    &-bordered td,
    &-bordered .th,
    &-bordered .td {
      border-color: #ccc;
    }

    &-bordered .th,
    &-bordered .td,
    &-bordered th,
    &-bordered td {
      &:first-child {
        border-left: 0;
      }

      &:last-child {
        border-right: 0;
      }

      &.table-divider-right {
        border-right: 2px solid $accent-border-color;
      }

      &.table-divider-left {
        border-left: 2px solid $accent-border-color;
      }
    }

    &-sm th,
    &-sm .th {
      padding: 0.5rem;
    }

    &-sm td,
    &-sm .td {
      padding: 0 0.5rem;
    }

    .th, .td {
      flex-grow: 0 !important;
      background-clip: padding-box;
    }

    th,
    .th {
      padding: 0.5rem;
      border-top: 0;
      background-color: #e5e6e6;
      font-size: 12px;
      line-height: 16px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700;
      color: rgba(0, 0, 0, .64);
      vertical-align: middle;
    }

    .th {
      display: flex;
      min-height: 64px;
      padding: 0;
      flex-direction: column;

      &.undefined {
        color: rgb(183, 183, 183);
      }

      .sort-toggle {
        position: absolute;
        right: 4px;
        bottom: 2px;
        display: flex;
        align-items: center;

        .material-icons {
          font-size: 1rem;

          &.default {
            font-size: 0.875rem;
            color: inherit;
            transform: rotate(90deg);
            opacity: 0;
            transition: ease opacity 0.15s;
          }

          &:hover {
            color: $primary;
          }
        }

        &.sorting {
          .material-icons {
            color: $primary;
          }
        }
      }

      &-filter {
        border-top: 1px solid #ccc;
        max-height: 24px;
        height: 100%;
        width: 100%;
        cursor: default;

        &.actions {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &.weekend {
        color: rgba(0, 0, 0, .24);
      }

      .hide-column-label {
        position: absolute;
        left: 8px;
        bottom: 0;
        margin: 0;
        cursor: pointer;
        z-index: 1033;
        opacity: 0;
        transition: ease opacity 0.15s;

        &-input {
          display: none;
        }

        &-icon {
          font-size: 12px;

          &:hover {
            color: $primary;
          }
        }
      }

      &-text {
        position: relative;
        height: 64px;
        padding: .25rem .25rem .625rem .25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:hover {
          .hide-column-label, .column-view {
            opacity: 1;
          }

          .sort-toggle {
            .material-icons.default {
              opacity: 1;
            }
          }
        }
      }
    }

    td,
    .td {
      position: relative;
      height: 24px;
      padding: 0 0.5rem;
      font-size: 13px;
      line-height: 25px;
      font-family: Arial, Helvetica, sans-serif;
      white-space: nowrap;
      background-color: #fff;
    }

    .td {
      &.weekend {
        color: rgba(0, 0, 0, .24);
        cursor: not-allowed;
      }

      &.footer-td {
        border-right: 0;
        border-left: 0;
      }

      &[data-column='unit'],
      &[data-column='programName'],
      &[data-column='timePeriod'],
      &[data-column='rate'],
      &[data-column='rtg'] {
        padding: 0;
      }

      & .substring-cell {
        padding: 0 .5rem;
      }

      .colored {
        color: $primary;
      }

      .form-group {
        margin: 0 -0.5rem;

        .select-custom {
          // margin: -1px;
          .select {
            &__indicators {
              display: none !important;
            }

            &__control {
              height: 23px;
              min-height: 23px;
              border: 0;
              background-color: transparent;
              border-radius: 0;
              box-shadow: none;

              &--menu-is-open {
                background-color: #fff;
                z-index: 1;
                box-shadow: 0 0 0 2px $primary;
              }
            }

            &__indicator {
              padding: 0 8px;
            }

            &__value-container {
              padding: 0;
              justify-content: flex-end;
              caret-color: transparent;

              [class^="css-"]:not(.select__single-value),
              [class*="css-"]:not(.select__single-value) {
                padding: 0;
                margin: 0;
              }
            }

            &__single-value {
              padding: 0 6px;
              line-height: 24px;
              text-overflow: clip;
            }

            &__menu {
              margin: 2px 0 0;
            }

            &__option {
              position: relative;
              padding: 2px 20px;
              font-size: 13px;
              line-height: 24px;

              &--is-selected {
                color: inherit;
                background-color: transparent;

                &::after {
                  position: absolute;
                  top: 9px;
                  left: 6px;
                  content: "";
                  width: 8px;
                  height: 6px;
                  border: 0;
                  border-left: 2px solid;
                  border-bottom: 2px solid;
                  transform: rotate(-45deg);
                }
              }
            }
          }
        }
      }

      .select-day {
        margin: -1px -0.5rem;

        .dropdown-toggle {
          width: 100%;
          height: 23px;
          padding: 0 0.5rem;
          color: inherit;
          font-size: 0.813rem;
          font-weight: 400;
          text-transform: none;
          text-align: left;
          border: 0;
          background-color: transparent;
          border-radius: 0;

          &::after {
            display: none;
          }

          &:focus {
            box-shadow: none;
          }
        }

        &.show {
          z-index: 1;

          .dropdown-toggle {
            background-color: #fff;
            box-shadow: 0 0 0 2px $primary;
          }
        }

        .dropdown-menu {
          min-width: 114px;
          margin: 2px 0 0;

          li {
            list-style: none;
          }
        }

        .days-list {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            display: flex;
            align-items: center;
            padding: 2px 12px;
            font-size: 13px;
            line-height: 24px;

            label.disabled {
              color: $accent-border-color;
            }

            label {
              margin: 0 0 0 8px;
            }

            input[type="checkbox"] {
              margin-bottom: 2px;
            }
          }
        }
      }
    }

    .row-colored {
      .td {
        position: relative;
        font-weight: 700;
        background-color: #fff1c7;
        border-bottom: 2px solid $accent-border-color;
      }

      &.head {
        .td {
          background-color: #fff8e3;
          border-bottom: 1px solid #cacaca;
        }
      }

      &.grouped {
        .td:first-child {
          &::after {
            bottom: -2px;
          }
        }
      }
    }

    .row-highlight {
      background-color: rgba(51, 122, 255, .25);

      > .td {
        background-color: transparent !important;
      }
    }

    .grouped {
      .td:first-child {
        padding-left: 25px;

        &::after {
          position: absolute;
          top: 0;
          bottom: -1px;
          left: -1px;
          content: "";
          width: 17px;
          background-color: white;
          z-index: 0;
        }
      }

      .group-toggle {
        margin-left: 4px;
        font-size: 18px;
      }
    }

    .actions-dropdown {
      position: absolute;
      top: 2px;
      left: 1px;
      opacity: 0;

      .dropdown-menu {
        min-width: 6rem;
        transform: translate(0px, 21px)!important;
      }
    }

    &.border-around {
      border: 1px solid #ccc;
    }
  }

  .status-container {
    display: flex;
    align-items: center;
    margin-left: 6px;

    .status {
      width: 6px;
      height: 6px;
      margin: 0 8px 0 4px;
    }
  }
}

.table {
  border-spacing: 0;

  .thead {
    position: sticky;
    top: 0;
    z-index: 3;
    // ${'' /* These styles are required for a scrollable body to align with the header properly */}
    overflow-y: auto;
    overflow-x: hidden;
  }

  .thead, .tbody, .tfoot {
    display: table;
  }

  .tfoot {
    position: sticky;
    top: 64px;
    margin-bottom: 24px;
    z-index: 2;

    &.filters-on {
      top: 88px;
    }
  }

  .tr {
    :last-child {
      .td {
        border-bottom: 0;
      }
    }

    &:not(.row-colored):hover {
      .td {
        background-color: rgba(51, 122, 255, 0.12);
      }

      .actions-dropdown {
        opacity: 1;
      }

      .status-container {
        opacity: 0;
      }
    }

    &.tr-new {
      .td {
        background-color: #f6dcff;
      }
    }

    &.tr-avail-deleted {
      .td,
      .td * {
        color: rgba(0,0,0,.4)!important;
      }
    }

    &.tr-avail-new {
      .td {
        background-color: #d0ffcd;
      }
    }
  }

  .th,
  .td {
    margin: 0;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    //z-index: 0;

    // ${'' /* In this example we use an absolutely position resizer,
    //  so this is required. */}
    position: relative;
  }

  &.summary-table {

    .tr:nth-child(odd) {
      .td {
        background-color: #fff8e3;
        border-bottom: 1px solid #cacaca;
      }
    }
    // MBP-1399 [Estimate] Selected cell is being displayed selected if summary is pinned
    z-index: 3;

    .bg-gray {
        background-color: #e5e6e6;
    }

    thead tr {
      th {
        border-bottom: none;
        padding: 0 0.5rem;

        &.bg-gray {
          min-width: 104px;
        }
      }
    }

    tbody tr {
      position: relative;
      &:hover {
        &::after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          content: "";
          box-shadow: inset 0 0 0 1px $primary, 0 0 0 1px $primary;
          z-index: 1;
        }
      }
      &:first-child {
        td:not(:first-child) {
          background-color: #FFF8E3;
        }
      }
      td:first-child {
        font-size: 12px;
        font-weight: 700;
        color: rgba(10, 3, 3, 0.64);
      }
    }
  }
  .table-divider-left {
    border-left: 1px solid $accent-border-color;
  }
}

.custom-table {
  & thead {
    border: none;
    background-color: #e5e6e6;
  }
  & tbody tr {
    border-bottom: 1px solid lightgrey;
  }
  &:not(.collapsible) tbody tr:nth-child(2n+1) {
    background-color: #f8f9fa;
  }

  &:not(.collapsible) tbody tr:hover {
    background-color: rgba($primary, 0.12);

    .actions-dropdown {
      opacity: 1;
    }
  }

  & td {
    vertical-align: inherit;
  }

  .actions-dropdown {
    opacity: 0;
    transition: opacity ease 0.3s;
  }

  &.collapsible {
    background-color: $white-color;
    font-family: Arial, Helvetica, sans-serif;
    th {
      padding: 0.25rem 0.5rem;
      font-size: 0.75rem;
      color: rgba($body-color, .64);
      border-bottom-color: $accent-border-color;
      white-space: nowrap;
    }
    td {
      padding: 0 0.5rem;
      font-size: 0.813rem;
      line-height: 1.5rem;
      white-space: nowrap;

      &:last-child {
        width: 145px;
      }
    }
    tbody tr {
      &:hover {
        background-color: rgba(51,122,255,0.12);
        &[class^="nesting-level-"], [class*=" nesting-level-"] {
          background-color: rgba(51,122,255,0.12);
        }
        .actions-dropdown {
          opacity: 1;
        }
      }

      &:not([class^="nesting-level-"]):not([class*=" nesting-level-"]) {
        td:first-child {
          padding-left: 148px;
        }
      }
    }
    .first-column {
      width: 34px;
    }
    .nesting-level {
      &-top {
        background-color: #ffebad;
        td {          
          border-top: 2px solid $accent-border-color;
          .row-title {
            font-size: 0.813rem;
            font-weight: 700;
            line-height: 24px;
            color: $black-color;
          }  
        }
      }
      &-middle {
        background-color: #fff8e3;
        td {
          .row-title {
            padding-left: 0.5rem;
            font-size: 0.75rem;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            color: rgba($black-color, .64);
            @extend .text-ellipsis;
            @extend .max-width-185;
          }
        }
      }
      &-low {
        td {
          &:first-child {
            padding-left: 86px;
          }
        }
      }
    }
    .priority-container {
      display: flex;
      align-items: center;
      margin: 0 1.5rem 0 1rem;

      .priority {
        width: 0.5rem;
        height: 0.5rem;
        margin-right: 7px;
      }
    }

    .actions-dropdown {
      margin-right: 0.25rem;
    }

    .estimateID {
      padding-left: 2rem;
    }
    .table-cell {
      display: inline;
      cursor: default;
    }
  }
}

.custom-table_editing-fields {
  display: block !important; 
  height: calc(100% - 66px) !important; 
  overflow: auto !important;

  & thead {
    display: flex;
    width: 100%;
    border: none;
    background-color: #e5e6e6;

    & tr {
      display: flex;
      width: 100%;

      & th {
        width: 50%;
      }
    }
  }

  & tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  & tbody tr {
    display: flex; 
    width: 100%;
  }
  & tbody tr:nth-child(2n+1) {
    background-color: #f8f9fa;
  }

  & tbody tr:hover {
    background-color: #DEEBFF;
  }

  & td {
    width: 50%;
    vertical-align: inherit;
  }
}

.footer-td {
  &:last-child > .footer-cell {
    border-right: 0;
  }

  &.table-divider-right {
    .footer-cell {
      border-right: 2px solid $accent-border-color;
    }
  }

  &.table-divider-left {
    .footer-cell {
      border-left: 2px solid $accent-border-color;
    }
  }
}

.footer-cell {
  height: 25px;
  border-right: 1px solid #cacaca;
  flex-grow: 0 !important;
  font-weight: 700;
  background-color: #fff1c7;
  border-bottom: 2px solid $accent-border-color;

  &.undefined {
    color: rgb(183, 183, 183);
  }

  &.head {
    height: 24px;
    background-color: #fff8e3;
    border-bottom: 1px solid #cacaca;
  }

  &.summary-table {
    .tr:nth-child(odd) {
      .td {
        background-color: #fff8e3;
        border-bottom: 1px solid #cacaca;
      }
    }
  }
}

.unit-cell {
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  z-index: 1;

  &.selected {
    border: none;
    border-radius: 0;
    outline: 0;
  }

  input {
    width: 100%;
    height: 26px;
    padding: 0 7px;
    // border: 2px solid $primary;
    border-radius: 0;

    &:focus {
      outline: none;
      border-color: $primary;
    }

    &[type="number"] {
      text-align: right;
    }
  }
}

.note-cell input:focus {
  outline: none;
  border: none;
  padding: 0;
}

.row-expand {
  display: flex;
  align-items: center;

  .material-icons {
    margin-left: -0.5rem;
    cursor: pointer;
    font-size: 1.125rem;
  }
}

.max-width-185 {
  max-width: 185px;
}

.max-width-250 {
  max-width: 250px;
}

.project-list_tooltip > .tooltip-inner {
  width: -moz-max-content;
}
