.tooltip {
  &-inner {
    padding: 0.5rem;
    color: inherit;
    font-size: 0.75rem;
    line-height: 1rem;
    background-color: $white-color;
    text-align: left;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.24);
  }

  &.bs-tooltip-right {
    .arrow::before {
      border-right-color: $white-color;
    }
  }

  &.bs-tooltip-left {
    .arrow::before {
      border-left-color: $white-color;
    }
  }

  &.bs-tooltip-top {
    .arrow {
      bottom: 1px;

      &::before {
        border-top-color: $white-color;
      }
    }
  }

  &.bs-tooltip-bottom {
    .arrow::before {
      border-bottom-color: $white-color;
    }
  }

  &.show {
    opacity: 1;
  }
}

.tooltip-cell {
  width: fit-content;
  width: -moz-fit-content;

  &-number {
    color: #337AFF;
    font-weight: 600;
  }
}