$font-stack:                                Arial, Helvetica, sans-serif;
$font-stack-secondary:                      'Oswald', sans-serif;

$primary:                                 #337aff;
$primary-hover:                           #2e6ee6;
$secondary:                               #f3f7ff;
$success:                                 #20a800;
$danger:                                  #dc3545;
$danger-hover:                            #c22f3d;
$white-color:                             #fff;
$black-color:                             #000;
$blue-color:                              #00f;
$gray-color:                              #e5e6e6;

$bg-color:                                #f1f1f1;
$bg-dark:                                 #323535;
$body-color:                              $black-color;
$icon-color:                              rgba($body-color, 0.64);
$icon-color-hover:                        $black-color;

$border-radius:                           4px;
$input-btn-padding-x:                     1.875rem;
$btn-padding-y:                           0.75rem;
$btn-padding-x:                           0.75rem;

$sidebar-width:                           240px;
$toolbar-height:                          64px;
$border-color:                            #ccc;
$accent-border-color:                     #999;

$avatar-bg-color:                         #989a9b;

$dropdown-border-color:                   #b7b7b7;
$dropdown-item-active:                    #b2b4ff;
$dropdown-item-hover:                     rgba($primary,0.12);

$box-shadow:                              0 1px 4px 0 rgba($black-color,0.24), 0 0 1px 0 rgba($black-color,0.16);

// Custom checkbox
$custom-control-gutter:                     4rem;
$custom-control-spacer-x:                   3rem;
$custom-control-indicator-size:             3rem;
$custom-control-indicator-bg:               $white-color;
$custom-control-indicator-checked-color:  #757575;
$custom-control-indicator-checked-bg:       $white-color;

// Forms
$input-border-color:                        $border-color;
$input-placeholder-color:                   rgba($black-color, 0.64);
$input-color:                               $black-color;
$input-disabled-bg:                       #f1f1f1;
$input-focus-border-color:                  $primary;
$input-focus-box-shadow:                    0 0 0 1px $primary;
$form-feedback-font-size:                   0.75rem;
$enable-validation-icons:                   false;

// Modals
$modal-xl:                                  1196px;
$modal-lg:                                  844px;
$modal-content-border-radius:               0.25rem;

// Customizing theme
$theme-colors: () !default;
$theme-colors: map-merge((
        primary: $primary,
  // success: $green, // Default (these can be override by user)
  // info: $light-blue, // Default (these can be override by user)
  // warning: $deep-orange, // Default (these can be override by user)
  // danger: $red, // Default (these can be override by user)
  // light: $grey-100, // Default (these can be override by user)
  // dark: $grey-800 // Default (these can be override by user)
), $theme-colors);
